name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build project
        run: npm run build
        env:
          VITE_FIREBASE_API_KEY: AIzaSyBBsjEVt-WktzSYC1zqZPslIjAie9a-F0
          VITE_FIREBASE_AUTH_DOMAIN: story-make-fbbd7.firebaseapp.com
          VITE_FIREBASE_PROJECT_ID: story-make-fbbd7
          VITE_FIREBASE_STORAGE_BUCKET: story-make-fbbd7.firebasestorage.app
          VITE_FIREBASE_MESSAGING_SENDER_ID: 63291004810
          VITE_FIREBASE_APP_ID: 1:63291004810:web:7a8301e17c4e528768da73
          VITE_FIREBASE_MEASUREMENT_ID: G-SK12ZCRM26
      
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          channelId: live
          projectId: story-make-fbbd7
